{% load static %} <!-- it is nescessary to manage -->

    <footer class="rodape">
        <div class="rodape__icones">
            <a class="fa fa-linkedin-square" style="font-size:48px;color:rgb(32, 32, 246); margin-right: 1em;" href="https://www.linkedin.com/in/dayon-victor-czykailo-8ba859212/">
            </a>
            <a class="fa fa-github-square" style="font-size:48px;color:rgb(0, 0, 0)" href="https://github.com/DayonCzykailo">
            </a>
        </div>
        <p class="rodape__texto">2024 Developed by Dayon Czykailo</p>
    </footer>