{% extends 'gallery/base.html' %}
{% load static %}
{% block content %}
<div class="pagina-inicial">
    <header class="cabecalho">
        <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Logo da Space" />
        <div class="cabecalho__busca">
            <div class="busca__fundo">
                <input class="busca__input" type="text" placeholder="O que você procura?">
                <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
            </div>
        </div>
    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'home' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                <a href="#"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Mais vistas</a>
                <a href="#"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Novas</a>
                <a href="{% url 'new_image' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> New Image</a>
                <a href="{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Logout</a>
            </nav>
        </section>
            <section class="galeria row-12" style="margin-left: 5em">
                <form action="{% url 'new_image' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} <!-- this is a security measure to prevent CSRF attacks -->
                    <div class="row-12">
                        {% for field in form.visible_fields %}
                            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                                <label for="{{field.id_for_label}}" style="color:#D9D9D9; margin-bottom: 5px;"><b>{{ field.label }}</b></label>
                                {{ field }}
                            </div>
                            {% for error in field.errors %}
                            <div class="alert alert-warning" role="alert">
                                    {{ error }}
                            </div>
                            {% endfor %}
                        {% endfor %}
                        
                        <div class="col-12 text-center">
                            <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Sign Up</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>

{% endblock %}